<!-- todo-list.component.html -->
<div *ngFor="let item of todoItems">
  <p style="color: tomato;">id {{ item.id }}</p>
  <p>title {{ item.title | uppercase }}</p>
  <p>date {{ item.dueDate | date:'short' }}</p>
  <p>description {{ item.description }}</p>
  <p>tags #{{ item.tags.join(', #') }}</p>
  <p>priority {{ item.priority }}</p>
  <p>{{ item.isCompleted ? 'Completed' : 'Pending' }}</p>
  <button (click)="onEdit(item)">Edit</button>

  <button (click)="deleteTodoItemById(item.id)">Delete</button>
</div>
