<!-- components/todo-list/todo-list.component.html -->
<div class="no-task-wrapper">
  <div id="no-task-text" *ngIf="todoItems.length <= 0">THERE ARE NO CURRENT TO DOES</div>
</div>

<div class="todo-card" *ngFor="let item of todoItems">
  <div class="header">
    <div>project: {{ item.projectId }}</div>
    <hr>
    <div>{{ item.title | uppercase }}</div>
  </div>

  <div class="body">
    <div>date: {{ item.dueDate | date:'longDate' }}</div> <!-- date:'fullDate' -->
    <div>day: {{ item.dueDate | date:'EEEE' }}</div> <!-- date:'short' -->
    <div>time: {{ item.dueDate | date:'shortTime' }}</div> <!-- date:'longDate' -->
    <div>description: {{ item.description }}</div>
    <div>tag: #{{ item.tag }}</div>
    <!-- <div>tags #{{ item.tags.join(', #') }}</div> -->
    <div>priority: {{ item.priority}}</div>
    <div>{{ item.isCompleted ? 'Done' : 'To Do' }}</div>
    <button (click)="onEdit(item)">Edit</button>

    <button (click)="deleteTodoItemById(item.id)">Delete</button>
  </div>


</div>