<!-- components/search/search.component.html -->


<!-- <div class="search-bar">
    <input 
      type="text" 
      [(ngModel)]="searchText" 
      placeholder="Search"
    />
    <button (click)="onSearch()">Search</button>
    <button (click)="onClear()">Clear</button>
</div> -->


<div class="search-bar">
  <img src="../../../assets/icons/search.svg" alt="search" />
    <input 
      type="text" 
      [(ngModel)]="searchText" 
      (input)="onSearch()" 
      placeholder="Search..." 
    />
    <!-- <button (click)="onClear()"><img src="../../../assets/icons/cancel.svg" alt="cancel" /></button> -->
    <span (click)="onClear()"><img src="../../../assets/icons/cancel.svg" alt="cancel" /></span>
</div>