button {
    margin: 0;
    /* padding: 5px; */
    /* flex: 1; */
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: transparent;
    border-radius: 5px;
}

.search-bar {
    display: flex;
}

#search-input {
border-color: #ccc ;
border-radius: 5px;
padding: 5px;
}

#search-button,
#clear-button {
    display: flex;
    align-items: center;
}

img {
    transition: transform 0.3s ease-in-out;
}

#clear-button:hover img {
    /* fill: #f00; */
    transform: rotate(45deg);
}