:root {
    --main-color-origin-light-mode: #0c59e7;
    --secondary-color-origin-light-mode: aliceblue;
    --card-font-color-origin-light-mode: aliceblue;
    --main-shadow-color-origin-light-mode: #3979ef;
    --main-text-white-color-origin-light-mode: white;
    --secondary-text-blue-color-origin-light-mode: #0c59e7;
    --main-border-color-origin-light-mode: #ccc;
}

button {
    margin: 0;
    flex: 0.5;
    background-color: var(--main-color-origin-light-mode);
    color: var(--main-text-white-color-origin-light-mode);
}

button:hover {
    opacity: 0.7;
}

.project-card {
    display: block;
    height: 150px;
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
    background-color: var(--card-font-color-origin-light-mode);
    border-radius: 4px;
    text-wrap: balance;
}

.project-card:hover {
    box-shadow: 0 0 5px var(--main-shadow-color-origin-light-mode);
}

.project-card.hidden {
    display: none;
}

.project-card .header {
    background-color: var(--main-color-origin-light-mode);
    color: var(--main-text-white-color-origin-light-mode);
    border-radius: 4px 4px 0 0;
    height: auto;
    /* height: 3rem; */
    padding: 20px;
    text-align: center;
}

.project-card .body {
    padding: 30px;
}

.no-projects-wrapper {
    width: 100%;
}

#no-projects-text {
    margin-left: 40%;
    color: var(--main-shadow-color-origin-light-mode);
    font-weight: 600;
}