<!-- app.component.html -->
<div class="app-container">
  <div class="header-wrapper">
    <div class="header-container">
      <img id="logo-header" src="../assets/images/logo.png" alt="logo" (click)="reloadPage()" />
      <div class="mode-wrapper">

        <div class="date-container">
          <div class="date-popup" [ngClass]="{'show': isDateVisible}">
            {{ today | date:'longDate' }}
          </div>
          <img id="current-date-mode" src="../assets/icons/calendar_clock.svg" alt="calendar_clock" (click)="toggleDateVisibility()" />
        </div>
        
        <hr style="margin-right: 20px;">

        <img id="day-mode" src="../assets/icons/calendar_day.svg" alt="calendar_day"/>
        <img id="week-mode" src="../assets/icons/calendar_week.svg" alt="calendar_week"/>
        <img id="month-mode" src="../assets/icons/calendar_month.svg" alt="calendar_month"/>
        <img id="overdue-mode" src="../assets/icons/notification_important.svg" alt="overdue"/>

        <hr style="margin-right: 20px;">
        <img id="view-mode" src="../assets/icons/view_list.svg" alt="view_list" />
        <img id="dark-mode" src="../assets/icons/dark_mode.svg" alt="dark_mode" />

        <hr style="margin-right: 20px;">
      </div>
      <app-todo-search (search)="onSearch($event)"></app-todo-search>
    </div>

    <div class="nav-container">
      <div class="nav-block-wrapper">
        <button (click)="viewList()">view To Do List</button>
        <button (click)="showTodoForm()">new To Do</button>
        <app-todo-form  
          class="todo-form-container" 
          *ngIf="isTodoFormVisible"
          [todoItem]="selectedTodoItem" 
          (saved)="onTodoItemAdded()"
          (canceled)="onFormCanceled()">
        </app-todo-form>
        <button (click)="removeTodoItems()">remove All To Does</button>
      </div>

      <div class="nav-block-wrapper">
        <button>view Project List</button>
        <button (click)="showProjectForm()">new Project</button>
        <app-project-form
          class="project-form-container"
          *ngIf="isProjectFormVisible"
          [project]="selectedProject" 
          (projectsSaved)="onProjectAdded()"
          (projectCanceled)="onProjectCanceled()">
        </app-project-form>
        <button (click)="removeProjects()">remove All Projects</button>
      </div>
      
      
      

    </div>

    <app-todo-selection 
      [filters]="filters">
    </app-todo-selection>
  </div>


  <div class="body-wrapper">
    <div class="filter-container">
      <app-todo-filter (filteredTodo)="applyFilters($event)">
      </app-todo-filter>
    </div>

    <div class="list-container">
      <app-project-list
      class="project-card"
        (projectEdited)="editProject($event)">
      </app-project-list>

      <app-todo-list 
        class="todo-card" 
        [filters]="filters" 
        [searchQuery]="searchQuery" 
        (edit)="editTodoItem($event)">
      </app-todo-list>
    </div>
  </div>

</div>