:root {
    --main-color-origin-light-mode: #0c59e7;
    --secondary-color-origin-light-mode: aliceblue;
    --card-font-color-origin-light-mode: aliceblue;
    --main-shadow-color-origin-light-mode: #3979ef;
    --main-text-white-color-origin-light-mode: white;
    --secondary-text-blue-color-origin-light-mode: #0c59e7;
    --main-border-color-origin-light-mode: #ccc;
}

button {
    margin: 0;
    flex: 0.5;
    /* background-color: #0c59e7; */
    background-color: var(--main-color-origin-light-mode);
    color:var(--main-text-white-color-origin-light-mode);
}

button:hover {
    opacity: 0.7;
}

button.active {
    background-color: var(--main-shadow-color-origin-light-mode);
    /* background-color: var(--main-shadow-color); */
    color: var(--main-text-white-color-origin-light-mode);
}

.app-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.header-wrapper{
    /* position: fixed;
    top: 0;
    width: 100vw;
    justify-content: center;
    background: white;
    z-index: 1; */
    border-bottom: solid 1px var(--main-border-color-origin-light-mode);

}

.header-container {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
}

#logo-header {
    width: 60px;
    height: 60px;
    cursor: wait;
}

.mode-wrapper {
    display: flex;
    width: 100%;
    justify-content: right;
}

.date-container {
    display: flex;
    align-items: center;
}
  
  .date-popup {
    width: auto;
    padding: 1px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    transform: translateX(0);
    z-index: 10;
  }
  
  .date-popup.show {
    opacity: 1;
    transform: translateX(-25%);
  }
  
#current-date-mode,
#day-mode,
#week-mode,
#month-mode,
#view-mode,
#dark-mode {
    margin-right: 20px;
    cursor: pointer;
}

#current-date-mode:hover,
#day-mode:hover,
#week-mode:hover,
#month-mode:hover,
#view-mode:hover,
#dark-mode:hover {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    width: 100%;
    /* flex: 1; */
    justify-content: space-between;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 75vh;
}
/*  */
.filter-container {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    padding: 10px;

    height: 100%;
    overflow-y: scroll;

    /* border: dotted 2px aqua; */
}
/*  */
.list-container {
    display: flex-inline;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0.75;
    height: 100%;
    padding: 5px 20px;
    overflow: auto;

    /* border: dotted 2px blueviolet; */
}
/*  */
.todo-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 150px; */
    /* flex: 0.3; */
    /* flex-basis: calc(25% - 10px); */
    /* flex-basis: calc(33.33% - 10px); */
    /* background-color: coral; */
}
/*  */
.form-container {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;
    height: auto;


    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-shadow-color-origin-light-mode);

    background-color: var(--card-font-color-origin-light-mode);
}