<!-- components/todo-selection/todo-selection.component.html -->

<div class="filter-selection">

  <div class="item-selection">
    {{ filters.isCompleted !== null ? (filters.isCompleted ? '✓ completed' : '☐ not completed') :
    '🗹 all' }}</div>
  <div class="item-selection" [ngStyle]="{ 'display': filters.priority ? 'block' : 'none' }">
    ! {{ filters.priority }}
  </div>

  <div class="item-selection" [ngStyle]="{ 'display': filters.tag ? 'block' : 'none' }">
    #{{ filters.tag }}
  </div>


  <div *ngFor="let day of filters.days">
    <div class="item-selection" [ngStyle]="{ 'display': day ? 'block' : 'none' }">
      {{ day }}
    </div>
  </div>

  <div class="item-selection" [ngStyle]="{ 'display': filters.months > 0 ? 'block' : 'none' }">
    {{ getMonthName(filters.months) }}
  </div>


  <div class="item-selection-project" [ngStyle]="{ 'display': filters.project ? 'block' : 'none' }">
    <div *ngFor="let project of projects">
      <ng-container *ngIf="filters.project == project.id">
        💡 {{ project.title }}
      </ng-container>
    </div>
  </div>
</div>