<!-- components/todo-filter/todo-filter.component.html -->

<div class="filter-container">

    <div (click)="togglePriorityContainer()" class="toggle-container">
        Priority
        <ng-container *ngIf="isPriorityContainerVisible; else showIconPriority">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconPriority>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    
    <div *ngIf="isPriorityContainerVisible" class="priority-button-container">
        <div class="priority-button-wrapper" *ngFor="let priority of mockPriority">           
            <button 
            [ngClass]="{'active': selectedPriority === priority.value}"
            (click)="highlightPriority(priority.value); onFilterChange()">
                {{ priority.symbol }}
            </button>
            <div>{{ priority.value }}</div>
        </div>
        <button class="clear-button" (click)="clearPriority(); onFilterChange()">
            Clear
        </button>
    </div>

    <div (click)="toggleTagContainer()" class="toggle-container">
        Tag
        <ng-container *ngIf="isTagContainerVisible; else showIconTag">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconTag>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    
    <div *ngIf="isTagContainerVisible" class="tag-button-container">
        <div class="tag-button-wrapper" *ngFor="let tag of mockTags">
            <button 
                [ngClass]="{'active': selectedTag === tag.name}"
                (click)="highlightTag(tag.name); onFilterChange()">
                #{{ tag.name }}
            </button>
        </div>
        <button class="clear-button" (click)="clearTag(); onFilterChange()">
            Clear
        </button>
    </div>

</div>
