<!-- components/todo-filter/todo-filter.component.html -->

<div class="filter-container">

    <div class="clear-button-wrapper">
        <button 
            class="clear-button"
            [ngClass]="{'active': 
            selectedIsCompleted === null && 
            selectedProject === 0 &&
            selectedPriority === '' && 
            selectedTag === '' &&
            selectedDays.length === 0 && 
            selectedMonth === 0}" 
            (click)="clearFilters()">   <!-- в selectedDays перевіряти довжину масива -->
            Clear all Filters
        </button>
    </div>
<!-- Project -->

<div (click)="toggleProjectContainer()" class="toggle-container">
    Project
    <ng-container *ngIf="isProjectContainerVisible; else showIconTag">
        <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
    </ng-container>
    <ng-template #showIconTag>
        <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
    </ng-template>
</div>

<div *ngIf="isProjectContainerVisible" class="project-button-container">
    <div class="project-button-wrapper" *ngFor="let item of todoItems" >
        <button 
        (click)="highlightProject(item.id)"
        [ngClass]="{ 'active': selectedProject == item.projectId }"               
        [ngStyle]="{ 'display': item.projectId ? 'block' : 'none' }">
        <div *ngFor="let project of projects">
            <ng-container *ngIf="item.projectId == project.id">
              {{ project.title }}
            </ng-container>
          </div>
    </button>
    </div>
    <div class="clear-button-wrapper">
        <button 
            class="clear-button"
            [ngClass]="{'active': selectedProject === 0}" 
            (click)="clearProject()">
            Clear
        </button>
    </div>
</div>

<!-- /////////////// -->
<!-- IsCompleted-->
    <div (click)="toggleIsCompletedContainer()" class="toggle-container">
        Status
        <ng-container *ngIf="isIsCompletedContainerVisible; else showIconTag">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconTag>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    
    <div *ngIf="isIsCompletedContainerVisible" class="iscompleted-button-container">
            <div class="iscompleted-button-wrapper">
            <button 
                [ngClass]="{'active': selectedIsCompleted === false}"
                (click)="highlightIsCompleted(false)">
                To do
            </button>

            <button 
                [ngClass]="{'active': selectedIsCompleted === true}"
                (click)="highlightIsCompleted(true)">
                Done
            </button>
        </div>
        <div class="clear-button-wrapper">
            <button 
                class="clear-button"
                [ngClass]="{'active': selectedIsCompleted === null}" 
                (click)="clearIsCompleted()">
                Clear
            </button>
        </div>
    </div>
<!-- /////////////// -->
<!-- Priority -->

    <div (click)="togglePriorityContainer()" class="toggle-container">
        Priority
        <ng-container *ngIf="isPriorityContainerVisible; else showIconPriority">
            <img class="icon" src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconPriority>
            <img class="icon" src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    
    <div *ngIf="isPriorityContainerVisible" class="priority-button-container">
        <div class="priority-button-wrapper" *ngFor="let priority of mockPriority">           
            <button 
            [ngClass]="{'active': selectedPriority === priority.value}"
            (click)="highlightPriority(priority.value)">
                {{ priority.symbol }}
            </button>
            <div>{{ priority.value }}</div>
        </div>
        <div class="clear-button-wrapper">
            <button 
                class="clear-button" 
                [ngClass]="{'active': selectedPriority === ''}"
                (click)="clearPriority()">
                    Clear
            </button>
        </div>
    </div>

    <div (click)="toggleTagContainer()" class="toggle-container">
        Tag
        <ng-container *ngIf="isTagContainerVisible; else showIconTag">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconTag>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    
    <div *ngIf="isTagContainerVisible" class="tag-button-container">
        <div class="tag-button-wrapper" *ngFor="let tag of mockTags">
            <button 
                [ngClass]="{'active': selectedTag === tag.name}"
                (click)="highlightTag(tag.name)">
                #{{ tag.name }}
            </button>
        </div>
        <div class="clear-button-wrapper">
            <button 
                class="clear-button"
                [ngClass]="{'active': selectedTag === ''}" 
                (click)="clearTag()">
                Clear
            </button>
        </div>
    </div>

    <!-- // // // // // // // // // // // // // // // // // //
    // // Day -->
    <div (click)="toggleDayContainer()" class="toggle-container">
        Days
        <ng-container *ngIf="isDayContainerVisible; else showIconDay">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconDay>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>

    <!-- <div *ngIf="isDayContainerVisible" class="day-button-container">
        <div class="day-button-wrapper" *ngFor="let day of days">
            <button 
                (click)="highlightDay(day.id)"
                [ngClass]="{'active': selectedDay === day.id}">
                {{ day.id }}
            </button>
        </div>
    
        <div class="clear-button-wrapper">
            <button 
                class="clear-button"
                (click)="clearDay();" 
                [ngClass]="{'active': selectedDay === 0}">
                    Clear
            </button>
        </div>
    </div> -->
    <div *ngIf="isDayContainerVisible" class="day-button-container">
        <div class="day-button-wrapper" *ngFor="let day of days">
          <button 
            (click)="highlightDay(day.id)"
            [ngClass]="{'active': selectedDays.includes(day.id)}"> <!-- Зміна для перевірки вибору кількох днів -->
            {{ day.id }}
          </button>   
        </div>
      
        <div class="clear-button-wrapper">
          <button 
            class="clear-button"
            (click)="clearDay();" 
            [ngClass]="{'active': selectedDays.length === 0}">
              Clear
          </button>
        </div>
      </div>
    

    <!-- // // // // // // // // // // // // // // // // // //
    // // Months -->
    <div (click)="toggleMonthsContainer()" class="toggle-container">
        Months
        <ng-container *ngIf="isMonthsContainerVisible; else showIconTag">
            <img src="../../../assets/icons/keyboard_arrow_up.svg" alt="keyboard_arrow_up" />
        </ng-container>
        <ng-template #showIconTag>
            <img src="../../../assets/icons/keyboard_arrow_down.svg" alt="keyboard_arrow_down" />
        </ng-template>
    </div>
    <div *ngIf="isMonthsContainerVisible" class="month-button-container">
        <div class="month-button-wrapper" *ngFor="let month of months">
            <button 
                (click)="highlightMonth(month.id)"
                [ngClass]="{'active': selectedMonth === month.id}">
                {{ month.abbreviation }}
            </button>   
        </div>

        <div class="clear-button-wrapper">
            <button 
                class="clear-button"
                (click)="clearMonth();" 
                [ngClass]="{'active': selectedMonth === 0}">
                    Clear
            </button>
        </div>
    </div>

</div>
