<!-- components/todo-form/todo-form.component.html -->

<div>
    <div *ngIf="todoItem.id">Edit Too-Doo</div> <!-- Edit -->
    <div *ngIf="!todoItem.id">Add new Too-Doo</div> <!-- Add -->
    <form (ngSubmit)="onTodoSave()">
        <div>

            <p>
                <label for="todoItem-title">Title:
                    <input 
                        id="todoItem-title" 
                        [(ngModel)]="todoItem.title" 
                        name="title" 
                        type="text" 
                        maxlength="20" 
                        placeholder="20 symbols" 
                        required>
                </label>
            </p>
            <p>
                <label for="todoItem-dueDate">Date:
                    <input 
                        id="todoItem-dueDate" 
                        [(ngModel)]="todoItem.dueDate" 
                        name="dueDate" 
                        type="datetime-local" 
                        required>
                </label>
            </p>
            <p>priority:
                <select 
                    id="todoItem-priority" 
                    [(ngModel)]="todoItem.priority"
                    name="priority" 
                    required>
                        <option 
                            *ngFor="let priority of mockPriority" 
                            [ngValue]="priority.value">
                            {{ priority.value }}
                        </option>
                </select>
            </p>
            <p>
                <!-- <label for="todoItem-description">description:
                    <input 
                        id="todoItem-description" 
                        [(ngModel)]="todoItem.description" 
                        name="description" 
                        type="text"
                        maxlength="50"
                        placeholder="50 symbs">
                </label>
            </p> -->
            <p>description: 
                <textarea 
                    id="todoItem-description" 
                    [(ngModel)]="todoItem.description" 
                    name="description" 
                    maxlength="50" 
                    placeholder="50 symbols">
                </textarea>
            </p>
            <!-- <p>project:
                <select 
                    id="todoItem-project" 
                    [(ngModel)]="todoItem.projectId" 
                    name="project">
                    <option 
                        *ngFor="let project of projects" 
                        [value]="project">{{ project }}
                    </option>
                </select>
            </p> -->
            <p># 
                <select 
                    id="todoItem-tags" 
                    [(ngModel)]="todoItem.tag" 
                    name="tags" 
                    required>
                    <option 
                        *ngFor="let tag of mockTags" 
                        [ngValue]="tag.name">{{ tag.name }}
                    </option>
                </select>
            </p>
            <p>
                <label for="todoItem-isCompleted">Mark as done:
                    <input 
                        id="todoItem-isCompleted" 
                        [(ngModel)]="todoItem.isCompleted" 
                        name="isCompleted" 
                        type="checkbox">
                </label>
            </p>
            <!-- <p>
                <label for="todoItem-project">project: 
                    <select id="project" [(ngModel)]="todoItem.project">
                        <option *ngFor="let project of projects" [value]="project">{{ project }}</option>
                    </select>
                </label>
            </p> -->
        </div>

        <button type="button" (click)="onTodoCancel()">Cancel</button>
        <button type="submit" (click)="onTodoCancel()">Apply</button>
    </form>
</div>